Source: trisdb
Section: database
Priority: optional
Maintainer: Gianluca Tiepolo <tiepolo.gian@gmail.com>
Build-Depends: cmake, build-essential, libboost-all-dev, libreadline6-dev, libprotobuf-dev, libsnappy-dev, g++-4.9
Homepage: https://github.com/tiepologian/trisdb

Package: trisdb
Architecture: any
Depends: libreadline6, libprotobuf8, libboost-system-dev, libboost-thread-dev, libboost-filesystem-dev, libsnappy1
Description: TrisDB database
